@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 85px;
    border: none;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.2);
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.05em;
    background-color: #4b2e83;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 10em 0 10em;
    text-align: justify;
}

nav {
    margin: 2em;
}

ul {
    overflow: auto;
    list-style-type: none;
    text-align: center;
}

li {
    height: 20px;
    margin-right: 0px;
    border-right: 1px solid #4b2e83;
    padding: 0 20px;
    display: inline;
    color: #85754d;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    display: inline-block;
}

li:last-child {
    border-right: none;
}

li a {
    text-decoration: none;
    color: #85754d;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    display: inline-block;
}

li.active a, li a:hover {
    color: #4b2e83;
}

.container {
    width: 100%;
    max-width: 70em;
    padding: 2em;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    color: #85754d;
    text-transform: uppercase;
    text-align: center;
}


h2 {
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}

p {
    font-size: 1em;
    margin: 2em 0;
}

td {
  font-size: 1.5em;
  color: #fff;
  text-align: right;


}

a {
  color: #85754d;
}

h3 {
  color: #fff;
}

h4 {
  color: #fff;
}
